[submodule "meta-openpli/recipes-openpli/e2openplugins"]
	path = meta-openpli/recipes-openpli/e2openplugins
	url = git://github.com/E2OpenPlugins/e2openplugins.git
	ignore = dirty
[submodule "oe-bitbake"]
	path = oe-bitbake
	url = git://github.com/openembedded/bitbake.git
[submodule "oe-meta-openembedded"]
	path = oe-meta-openembedded
	url = git://github.com/openembedded/meta-openembedded.git
[submodule "oe-openembedded-core"]
	path = oe-openembedded-core
	url = git://github.com/openembedded/openembedded-core.git
